@{
    ViewData["Title"] = "Кoнтракты";
}


<h3>Контракты</h3>
<body>
    <div class="container-full">
        <div class="row">
            <div class="col-xs-4">
                <button id="btnAdd" type="button" class="btn btn-default">Добавить</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12">
                <table id="grid"></table>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">
        <input type="hidden" id="ID" />
        <form id="contractForm">
            <div class="form-group">
                <label for="Number">Номер контракта</label>
                <input type="text" class="form-control" id="Number" name="NumberField">
            </div>
            <div class="form-group">
                <label for="GoodsDdl">Товар</label>
                <select class="form-control" id="GoodsDdl" name="GoodsDdlField"></select>
            </div>
            <div class="form-group">
                <label for="goodCount">Кол-во товаров</label>
                <input type="text" class="form-control" id="goodCount" name="goodCountField" />
            </div>
            <div class="form-group">
                <label for="companyDdl">Компания</label>
                <select class="form-control" id="companyDdl" name="companyDdlField"></select>
            </div>
            <div class="form-group">
                <label for="contractSum">Сумма контракта</label>
                <input type="text" class="form-control" id="contractSum" name="contractSumField" disabled="disabled"/>
            </div>
            
            <button type="button" id="btnSave" class="btn btn-default">Сохранить</button>
            <button type="button" id="btnCancel" class="btn btn-default">Отмена</button>
        </form>
    </div>

    <script src="~/js/contract.js" asp-append-version="true"></script>
</body>

