@{
    ViewData["Title"] = "";
}
<h3 id="h3"></h3>
<body>
    <input type="hidden" id="ContractId" />
    <div class="container-full">
        <div class="row">
            <div class="col-xs-7">
                <label id="lblContract"></label>
            </div>
        </div>
      
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-5">
                <table id="grid"></table>
            </div>
        </div>
    </div>

    
    <script src="~/js/contract_done.js" asp-append-version="true"></script>
</body>