@{
    ViewData["Title"] = "Кoнтракты";
}


<h3>Контракты</h3>
<body>
    <div class="container-full">
        <div class="row">
            <div class="col-xs-4">
                <button id="btnSend" type="button" class="btn btn-default">Обновить</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12">
                <table id="grid"></table>
            </div>
        </div>
    </div>
      

    <script src="~/js/contract.js" asp-append-version="true"></script>
</body>

