@{
    ViewData["Title"] = "";
}
<h3 id="h3"></h3>
<body>
    <input type="hidden" id="CompanyId" />
    <div class="container-full">
        <div class="row">
            <div class="col-xs-4">
                <button id="btnAdd" type="button" class="btn btn-default">Добавить</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12">
                <table id="grid"></table>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">
        <form id="companyGoodsForm">
            <div class="form-group">
                <label for="GoodsDdl">Товар</label>
                <select class="form-control" id="GoodsDdl" name="goodsDdlField">
                </select>
            </div>
            <div class="form-group">
                <label for="Price">Стоимость</label>
                <input type="text" class="form-control" id="Price" name="priceField" />
            </div>
            <button type="button" id="btnSave" class="btn btn-default">Сохранить</button>
            <button type="button" id="btnCancel" class="btn btn-default">Отменить</button>
        </form>
    </div>

    <script src="~/js/company_goods.js" asp-append-version="true"></script>
</body>