<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CompanyContractsWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="/grid/grid.min.js"></script>
    <link rel="stylesheet" href="grid/grid.min.css" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
